<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>coloca ai</h1>
    <input type="number" name="p1" id="p1">
    <input type="number" name="p2" id="p2"> 
    <input type="number" name="p3" id="p3"> 
    <input type="number" name="p4" id="p4"> 
    <button onclick="botao()">button</button>


    <script>
        function botao() {
            p1_val = document.getElementById("p1").value
            p2_val = document.getElementById("p2").value
            p3_val = document.getElementById("p3").value
            p4_val = document.getElementById("p4").value
            url = "/teste/" + p1_val + "/" + p2_val + "/" + p3_val + "/" + p4_val
            window.location.assign(url)

        }
    </script>
</body>
</html>